<h2>Charles Shields</h2>

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body class="container">
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>NodeJS web app using Express & ejs & Bootstrap CSS</h1>
            <p>Also using JS unit testing and test coverage for common JS modules</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>