<h2>Charles Shields</h2>
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body class="container">
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Input number:
                <%= inpNumber %>
            </h1>
            <h1>Square of the above <br> input number:
                <%= resultNumber %>
            </h1>
        </div>
    </main>

    <footer>
        <%include ../partials/footer %>
    </footer>
</body>

</html>