<h2>Charles Shields</h2>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous">Home</span>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/square">square</a></li>
            <li><a href="/cube">cube</a></li>
            <li><a href="/About">About</a></li>
        </ul>
    </div>
</nav>